@import 'variables.scss';

h {
    &1 {
        font-size: 2em;
        font-weight: bold;
        line-height: normal;
        margin: 0;
    }

    &2 {
        font-size: 1.5em;
        font-weight: bold;
        margin: 0;
    }
    &3 {
        font-size: 1.17em ;
        font-weight: bold ;
        margin: 0 ;
    }
    &4 {
        font-size: 1em;
        font-weight: bold;
        margin: 0;
    }
    &5 {
        font-size: 1em;
        font-weight: bold;
    }
    &6 {
        font-size: 1em;
        font-weight: bold;
    }
}

a {
    text-decoration: none;
}

.page-container {
    background-color: grey;
    display: grid;
    grid-template-columns: 30vw auto;
    width: calc(100vw - 60px);
}

.map-container {
    height: 100%;

    .mapboxgl-canvas, .mapboxgl-canvas-container {
        height: 100%;
    }
}

.point-info {
    background-color: white;
    color: black;
    bottom: 0;
    left: calc(50vw - 150px);
    padding: 2em;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 300px;
    z-index: 2;

    .point-details {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 1rem;
    }
}

.spaced-flex-row {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.report-container {
    background-color: white;
    color: black;
    display: grid;
    grid-template-columns: 15rem auto;
    height: 100vh;
    position: absolute;
    right: 100vw;
    top: 0;
    transition-duration: 0.3s;
    width: calc(100vw - $nav-width);
    z-index: 3;


    &.open {
        right: 0;
    }

    .sidebar {
        background-color: $primary-light;
        color: white;
        display: flex;
        flex-direction: column;
        height: 100vh;
        padding: 1rem;

        .subtitle {
            font-weight: bold;
            color: orangered;
        }

        .header-grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin-top: 1rem;
        }

        :last-child {
            margin-top: auto;
        }
    }

    .report-content {
        height: 100vh;
        overflow-y: auto;
        flex: 1 1 auto;
        padding: 1em;
    }
}
