@import 'variables.scss';

h {
    &1 {
        font-size: 3em;
        font-weight: bold;
        line-height: normal;
        margin: 0;
    }

    &2 {
        font-size: 1.5em;
        font-weight: bold;
        margin: 0;
    }
    &3 {
        font-size: 1.17em ;
        font-weight: bold ;
        margin: 0 ;
    }
    &4 {
        font-size: 1em;
        font-weight: bold;
        margin: 0;
    }
    &5 {
        font-size: 1em;
        font-weight: bold;
    }
    &6 {
        font-size: 1em;
        font-weight: bold;
    }
}

.text-overline, .text-caption {
    font-family: 'BC Sans', sans-serif;
}

p {
    font-family: 'BC Sans', sans-serif;
}

a {
    text-decoration: none;
}

.loader-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 99;
}

.primary-font-text {
    color: $primary-font-color;
}

.page-container {
    background-color: grey;
    display: grid;
    grid-template-columns: 30vw auto;
    width: calc(100vw - $nav-width);
}

.map-container {
    height: 100%;

    .mapboxgl-canvas, .mapboxgl-canvas-container {
        height: 100%;
    }
}

.point-info {
    background-color: white;
    color: black;
    bottom: 0;
    left: calc(50vw - 150px);
    padding: 2em;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 300px;
    z-index: 2;

    .point-details {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 1rem;
    }
}

.spaced-flex-row {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.map-container {
    position: relative; 
    
    .map {
        height: auto;
    }
}

.icon-btn {
    cursor: pointer;
}

.report-container {
    background-color: white;
    color: black;
    display: grid;
    grid-template-columns: 16rem auto;
    height: 100vh;
    overflow: hidden; // This prevents issue with tooltips that are off-screen
    position: absolute;
    right: 100vw;
    top: 0;
    transition-duration: 0.3s;
    width: calc(100vw - $nav-width);
    z-index: 3;


    &.open {
        right: 0;
    }

    .report-sidebar {
        background-color: $primary-light;
        color: white;
        display: flex;
        flex-direction: column;
        height: 100vh;
        padding: 1rem;
        overflow-y: auto;

        .subtitle {
            font-weight: bold;
            color: orangered;
        }

        .header-grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin-top: 1rem;
        }

        :last-child {
            margin-top: auto;
        }
    }

    .report-content {
        color: $primary-font-color;
        flex: 1 1 auto;
        height: 100vh;
        overflow-y: auto;
        padding: 1em;

        .report-component {
            margin-left: auto;
            margin-right: auto;
            max-width: 1000px;
        }
    }
}

.watershed-report-tooltip {
    background-color: rgba(255, 255, 255, 0.95);
    border: 1px solid $light-grey-accent;
    border-radius: 3px;
    padding: 1em;
    position: absolute;
    pointer-events: none;
}

.chart-legend {
    display: flex;
    justify-content: center;

    .flex {
        align-items: center;
        margin: 1em;
    }

    .legend-line {
        align-items: center;
        height: 0.3em;
        margin-left: 1em;
        width: 3em;
    }

    .legend-box {
        align-items: center;
        border-radius: 3px;
        height: 100%;
        margin-left: 1em;
        width: 3em;
    }
}
