$base-font-size: 14px;
$mobile-breakpoint: 850px;
$nav-width: 60px;

$navbar: #003366;
$dashboard-background-light: lightgrey;
$dashboard-background-dark: grey;

// colours
$primary: #003366;
$primary-light: #2f5479;
$primary-lighter: #577696;

$primary-font-color: #5d5e5d;

//bus stops
$color-stops: #33284a;
$color-labels: #33284a;
$color-first-stop: #f26721;
