$base-font-size: 14px;
$mobile-breakpoint: 850px;
$nav-width: 60px;

$navbar: #003366;
$dashboard-background-light: lightgrey;
$dashboard-background-dark: grey;

// colours
$primary: #003366;
$primary-light: #2f5479;
$primary-lighter: #577696;

$primary-font-color: #5d5e5d;
$light-grey-accent: #e6e6e6;

//bus stops
$color-stops: #33284a;
$color-labels: #33284a;
$color-first-stop: #f26721;

// allocations by industry
$color-allocations-gw-long: #29b6f6;
$color-allocations-gw-short: #ab47bc;
$color-allocations-sw-long: #002d73;
$color-allocations-sw-short: #f7a800;
