$base-font-size: 14px;
$mobile-breakpoint: 850px;
$nav-width: 60px;

$navbar: #003366;
$dashboard-background-light: lightgrey;
$dashboard-background-dark: grey;

// colours
$primary: #003366;
$primary-light: #2f5479;
$primary-lighter: #577696;

$primary-font-color: #5d5e5d;
$light-grey-accent: #e6e6e6;

//bus stops
$color-stops: #33284a;
$color-labels: #33284a;
$color-first-stop: #f26721;

// Historical Data by Month Chart Colors
$color-data-by-month-hist-darkest: #37474f;
$color-data-by-month-hist-middle: #78909c;
$color-data-by-month-hist-lightest: #b0bec5;
$color-data-by-month-line-1: #2ca02c;
$color-data-by-month-line-2: #ff7f0e;
$color-data-by-month-line-3: #d62728;

// allocations by industry
$color-allocations-gw-long: #29b6f6;
$color-allocations-gw-short: #ab47bc;
$color-allocations-sw-long: #002d73;
$color-allocations-sw-short: #f7a800;

// Landcover Watershed Colors
$color-watershed-landcover-barren: #540000;
$color-watershed-landcover-coniferous: #005400;
$color-watershed-landcover-cropland: #eca231;
$color-watershed-landcover-deciduous: #54aa00;
$color-watershed-landcover-developed: #f00;
$color-watershed-landcover-grassland: #ffff7e;
$color-watershed-landcover-herb: #0a0;
$color-watershed-landcover-mixed: #545400;
$color-watershed-landcover-shrub: #af0;
$color-watershed-landcover-snow-glacier: #cfcfcf;
$color-watershed-landcover-water: #388edb;
$color-watershed-landcover-wetland: #aa0;
