affine==2.4.0
attrs==25.3.0
bcdata==0.15.0
beautifulsoup4==4.13.4
bs4==0.0.2
certifi==2025.7.14
charset-normalizer==3.4.2
click==8.2.1
click-plugins==1.1.1.2
cligj==0.7.2
connectorx==0.4.3
dotenv==0.9.9
freezegun==1.5.3
GeoAlchemy2==0.17.1
geopandas==1.1.1
greenlet==3.2.3
idna==3.10
iniconfig==2.1.0
jmespath==1.0.1
joblib==1.5.1
lxml==6.0.0
mock==5.2.0
numpy==2.3.1
OWSLib==0.34.1
packaging==25.0
pandas==2.3.1
pendulum==3.1.0
pluggy==1.6.0
polars==1.31.0
polars-lts-cpu==1.31.0
polars-st==0.1.6
psutil==7.0.0
psycopg2==2.9.10
psycopg2-binary==2.9.10
pyarrow==20.0.0
Pygments==2.19.2
pyogrio==0.11.0
pyparsing==3.2.3
pyproj==3.7.1
pytest==8.4.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
pytz==2025.2
PyYAML==6.0.2
rasterio==1.4.3
requests==2.32.4
scikit-learn==1.7.0
scipy==1.16.0
shapely==2.1.1
six==1.17.0
soupsieve==2.7
SQLAlchemy==2.0.41
stamina==25.1.0
tenacity==9.1.2
threadpoolctl==3.6.0
typing_extensions==4.14.1
tzdata==2025.2
urllib3==2.5.0
xmltodict==0.14.2
