name: "Foundry OKD: Update Client/App Images & Deploy Helm Release"

on:
  push:
    branches:
      - NR-BCWAT-40/cicd
    # paths:
    #   - client/**
    #   - backend/**
    #   - charts/app/**
  workflow_dispatch:

jobs:
  deploy_application:
    runs-on: ubuntu-latest
    steps:
      - name: Set up WireGuard Connection
        uses: niklaskeerl/easy-wireguard-action@v2
        with:
          WG_CONFIG_FILE: ${{ secrets.FOUNDRY_ONPREM_WG_CONF }}

      - name: Install oc CLI
        run: |
            curl -LO https://mirror.openshift.com/pub/openshift-v4/clients/ocp/latest/openshift-client-linux.tar.gz
            tar -xvf openshift-client-linux.tar.gz oc
            sudo mv oc /usr/local/bin

      - name: Login to OpenShift API
        run: |
          oc login \
            --token="${{ secrets.FOUNDRY_OKD_TOKEN }}" \
            --server="${{ secrets.OKD_SERVER }}" \
            --insecure-skip-tls-verify
